/*==================== Google Fonts ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*==================== Bootstrap Icons ====================*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
  --bg-color: #ffffff;
  --text-color: #333;
  --border-color: rgba(0, 0, 0, 0.5);
  --label-color: #eee;
  --red: #f44336;
  --green: #4caf50;
  --blue: #3f51b5;
  --lightblue: #2196f3;
}

.dark-theme {
  --bg-color: #222;
  --text-color: #eee;
  --border-color: rgba(255, 255, 255, 0.5);
  --label-color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  text-decoration: none;
  line-height: 1;
}

button {
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background: var(--green);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

input {
  padding: 5px;
  background-color: var(--label-color);
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: calc(100% - 20px);
  max-height: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  background-color: transparent;
  color: var(--text-color);
}

.modal .actions {
  display: flex;
  gap: 5px;
}

.modal .actions > * {
  flex: 1;
}

.modal .delete {
  background-color: var(--red);
}

.modal .input-group {
  display: flex;
  gap: 10px;
}

.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  bottom: calc(100% + 1rem);
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #333;
  font-size: 1rem;
  padding: 0.25rem;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.bi {
  font-size: 1.5rem;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 1440px;
  margin: auto;
}

.app {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

.screen {
  position: relative;
  min-height: 100%;
}

.home-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

#player {
  width: 100vw;
  height: 100vh;
}

.toolbar {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  transition: 0.2s;
  opacity: 0;
}

.toolbar:hover {
  opacity: 1;
}

.toolbar .item-wrapper {
  position: relative;
  flex: 1;
  display: flex;
}

.toolbar .item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  min-height: 64px;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
}

.toolbar .item i {
  font-size: 2rem;
}

.toolbar .item-wrapper .options {
  display: none;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  padding-left: 10px;
}

.toolbar .item-wrapper .options > * {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
}

.toolbar .item-wrapper .options > *:hover {
  background-color: rgba(99, 99, 99, 0.5);
  border: 1px solid white;
}

.toolbar .item-wrapper:hover .options {
  display: flex;
}

.hover-area {
  position: absolute;
  top: 55px;
  bottom: 50vh;
  right: 0;
  width: 15%;
  min-width: 75px;
  border: 1px solid red;
  opacity: 0;
}

.history .title {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 10px;
}

.history .list {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.history .list .item {
  background-color: transparent;
  color: var(--text-color);
  padding: 5px;
}

.details-modal .description {
  flex: 1;
  overflow-y: auto;
  word-wrap: break-word;
}

.toast {
  pointer-events: none;
  position: fixed;
  top: 15vh;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.toast .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.75);
  color: white;
  padding: 10px 18px;
  border-radius: 5px;
  width: max-content;
  max-width: 100%;
}

.focus-btn {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
}

/* Medium screens (Tablets, up to 768px wide) */
@media (max-width: 768px) {
  .tooltip-text {
    display: none;
  }

  .toolbar {
    opacity: 1;
  }

  .toolbar .item-wrapper:hover .options {
    display: none;
  }

  .toolbar .more {
    display: none;
  }
}

/* Small screens (Phones, up to 480px wide) */
@media (max-width: 480px) {

}
