/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*==================== BOOTSTRAP ICONS ====================*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  text-decoration: none;
  line-height: 1;
}

a, button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.hidden {
  display: none !important;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  bottom: calc(100% + 1rem);
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #333;
  font-size: 1rem;
  padding: 0.25rem;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}



#player {
  width: 100%;
  height: 100vh;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.tools-container {
  position: fixed;
  top: 50%;
  left: 1rem;
  transform: translate(0,-50%);
}

.tools {
  display: grid;
  grid-template-columns: 50px;
  grid-auto-rows: 50px;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 5px;
  transition: 0.25s;
  opacity: 0.5;
}

.tools:hover {
  opacity: 1;
}

.tools .tool-group {
  position: relative;
  width: 100%;
  height: 100%;
}

.tools .tool {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background-color: transparent;
  color: white;
}

.tools .tool .text {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
}

.tool-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  padding-left: 5px;
}

.tool-modal .modal-content {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 5px;
}

.tool-modal .modal-content > * {
  width: 100px;
  height: 100px;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
}

.tool-modal .modal-content > *:hover,
.tool-modal .modal-content > *.selected {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
}

.tools .tool-group:hover .tool-modal {
  display: block;
}


.start-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #222;
}

.start-modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 250px;
  max-width: 400px;
  min-height: 200px;
  background-color: #FF0000;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.start-modal h1 {
  display: flex;
  align-items: center;
}

.start-modal h1 i {
  font-size: 2.8rem;
}

.start-modal .url-input {
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
}

.start-modal .quick-btn {
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
}

.start-modal .history {
  width: 100%;
}

.start-modal .history h1 {
  display: none;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.25rem;
}

.start-modal .history .list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.start-modal .history .list .item {
  text-align: center;
  background-color: transparent;
  border-radius: 5px;
  color: white;
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.start-modal .history .list .item:hover {
  font-weight: bold;
  text-decoration: underline;
}


.noticebox {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}